################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Source/Problem01/.vs/Problem01/v15/ipch
/Source/Problem01/.vs/Problem01/v15/Browse.VC.db
/Source/Problem01/.vs/Problem01/v15/Browse.VC.opendb
*.db
*.opendb
